
:root {
    --color-red:rgba(223, 105, 81, 1)
}

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 47px 40px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url('/img/top-right-dekor.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 778px 800px;
    border: 1px solid green
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

a:visited {
    color: currentColor;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red
}

/* Header */
.header-container {
    margin-bottom: 18px;
}

.header-container,
.header-nav__list {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    cursor: pointer;
}

.header-nav__list {
    margin-top: 0;
    margin-bottom: 0;
    width: 685px;
    cursor: pointer;
}

.header-nav__item > a {
    font-size: 17px;
    font-weight: 400;
}

.header-nav__btn {
    padding: 9px 22px;
    background: none;
    border: 1px solid rgba(33, 40, 50, 1);
    border-radius: 5px;
    cursor: pointer;
}

.header-nav__btn:active {
    transform: translatey(1px);
}

.header-nav__language {
    border: none;
    background: none;
    cursor: pointer;
}

/* Hero */
.hero-container {
    margin-top: 18px;
    margin-bottom: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('/img/hero/plane.svg');
    background-repeat: no-repeat;
    background-position: 680px 40px;
}

.hero-left,
.hero-right {
    max-width: 49%;
    min-height: 764px;
}

.hero-right {
    background-image: url('/img/hero/plane.svg');
    background-repeat: no-repeat;
    background-position: 490px 95px;
}

.hero-left {
    padding-top: 112px;
    padding-bottom: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title {
    text-transform: uppercase;
    font-style: 20px;
    font-weight: 700;
    color: rgba(223, 105, 81, 1);
}

.hero-main {
    font-size: 84px;
    font-weight: 700;
    color: rgba(24, 30, 75, 1);
    z-index: 2;
}

.hero-enjoy {
    position: relative;
    background-image: url('/img/hero/enjoy-decore.svg');
    background-repeat: no-repeat;
    background-position: 60px bottom;
}

.hero-description {
    padding-right: 150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(94, 98, 130, 1);
}

.hero-function__inner {
    max-width: 379px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-btn {
    width: 170px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    background: rgba(241, 165, 1, 1);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    cursor: pointer;
}

/* .hero-audio:active, */
.hero-btn:active {
    transform: translateY(1px);
}


.hero-audio {
    cursor: pointer;
    position: relative;
    margin-right: auto;
    margin-left: 44px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-red);
    box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
    text-wrap: nowrap;
}

/* .hero-audio:focus, */
.hero-audio:active {
    outline: 2px solid rgba(223, 76, 47, .7);
}

.hero-audio__inner {
    width: 15px;
    height: 15px;
    margin: auto;
    margin-top: 18px;
    margin-left: 19px;
    border-style: solid;
    border-width: 8px 0 8px 15px;
    border-color: var(--color-red) var(--color-red) var(--color-red) white;
    border-radius: 2px;
}

.hero-audio:focus > .hero-audio__inner {
    margin-left: 18px;
    border-width: 8px;
    border-color: white;
    /* border-radius: 2px; */
}

.hero-audio::before {
    content: 'Play Demo';
    color: black;
    position: absolute;
    right: -93px;
    top: 17px;
    font-size: 17px;
    font-weight: 400;
    color: rgba(104, 109, 119, 1);
}

.hero-audio:active::before {
    transform: none;
}

.hero-img {
    transform: translateX(-115px);
}

/* Services */
.services {
    background-image: url('/img/services/plus-plus.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 153px 166px;
}

.services-container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.services-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(94, 98, 130, 1);
    text-align: center;
}

.services-main {
    margin-bottom: 66px;
    font-size: 50px;
    font-weight: 700;
    color: rgba(20, 24, 62, 1);
    text-align: center;
}
.services-list {
    padding-bottom: 33px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.services-item {
    max-width: 267px;
    padding: 191px 45px 45px 44px;
    border-radius: 36px;
    background-image: url('/img/services/1.svg');
    background-repeat: no-repeat;
    background-position: center 50px;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
}

.services-item:nth-child(2) {
    background-image: url('/img/services/2.svg');
    background-position: center 17px;
}

.services-item:nth-child(3) {
    background-image: url('/img/services/3.svg');
}

.services-item:nth-child(4) {
    background-image: url('/img/services/4.svg');
}

.services-item:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, 
                rgba(0, 0, 0, 0.07) 0px 2px 4px, 
                rgba(0, 0, 0, 0.07) 0px 4px 8px, 
                rgba(0, 0, 0, 0.07) 0px 8px 16px, 
                rgba(0, 0, 0, 0.07) 0px 16px 32px, 
                rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.services-item::after {
    width: 100px;
    height: 100px;
    content: "";
    display: block;
    background-color: rgba(223, 105, 81, 1);
    border-radius: 30px 0 10px 0;
    position: absolute;
    left:-35px;
    bottom: -33px;
    z-index: -1;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.services-item:hover::after {
    opacity: 1;
}

.services-item-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgba(30, 29, 76, 1);
}
.services-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    color:rgba(94, 98, 130, 1);
}

/* Destination */
.destination-container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.destination-list {
    display: flex;
    justify-content: space-between;
    padding-right: 62px;
    background-image: url('/img/destination/line.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.destination-item {
    width: 30%;
    min-height: 457px;
    padding-top: 327px;
    border-radius: 24px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: url('/img/destination/rome.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.destination-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-9px);
    transition: all 0.4s ease-in-out;
}

.destination-item:nth-child(2) {
    background-image: url('/img/destination/london.png'); 
}

.destination-item:nth-child(3) {
    background-image: url('/img/destination/europ.png'); 
}

.destination-item__inner {
    width: 100%;
    height: 100%;
    padding: 27px 25px 42px 20px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
}

.destination-geo {
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination-geo > * {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: rgba(94, 98, 130, 1);
}

.destination-duration > * {
    position: relative;
    margin-left: 34px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(94, 98, 130, 1);
    line-height: 1;
}

.destination-duration > small::before {
    content: url('/img/destination/Navigation.svg');
    position: absolute;
    width: 20px;
    height: 20px;
    left: -35px;
    top: 0;
    bottom: 0;
}

/* Book */
.book-container {
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/img/book/blue-shadow.svg');
    background-repeat: no-repeat;
    background-position: 650px -40px;
}

.book-title__aline {
    text-align: left;
}

h3 + h2.book-title__aline {
    margin-bottom: 31px;
    margin-top: 15px;
    text-transform: capitalize;
    max-width: 511px;
}

.book-left,
.book-right {
    max-width: 50%;
    min-height: 492px;
    flex-basis: 50%;
}

.book-list {
    max-width: 327px;
    padding-left: 68px;
}

.book-item:not(:last-child) {
    margin-bottom: 48px;
}

.book-item {
    position: relative;
}

.book-item::before {
    content: url('/img/book/1.svg');
    position: absolute;
    top: 3px;
    bottom: 0;
    left: -68px;
}

.book-item:nth-child(2):before {
    content: url('/img/book/2.svg');
}

.book-item:nth-child(3):before {
    content: url('/img/book/3.svg');
}

.book-item__title {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(94, 98, 130, 1);
}

.book-item__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(94, 98, 130, 1);
}

.book-right {
    padding-top: 59px;
    position: relative;
}

.book-card__big {
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
    min-height: 400px;
    padding: 181px 24px 31px 25px;
    border-radius: 26px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url('/img/book/book-girl.png');
    background-repeat: no-repeat;
    background-position: center 20px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.book-card__item:first-child {
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: bold;
    color: rgba(8, 8, 9, 1);
}

.book-card__item:nth-child(2) {
    margin-bottom: 21px;
    font-size: 16px;
    font-weight: 400px;
    color: rgba(132, 130, 154, 1);
}

.book-card__item:last-child {
    margin-top: 28px;
}

.book-link {
    margin-right: 18px;
    cursor: pointer;
}

.book-link > img {
    border-radius: 50%;
}

.book-link:hover > img {
    outline: 2px solid rgba(104, 109, 119, 0.3);
    /* transition: outline 0.9s linear; */
}

.book-card__item:last-child {
    margin-left: 31px;
    font-size: 16px;
    font-weight: 400px;
    color: rgba(132, 130, 154, 1);
    position: relative;
}

.book-card__item:last-child::before {
    content: url('/img/book/hotel.svg');
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
}

.book-card__item:last-child::after {
    content: url('/img/book/like.svg');
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.book-card__small {
    position: absolute;
}

/* Testimonial */
.testimonial-container {
    min-height: 356px;
    margin-top: 100px;
    margin-bottom: 86px;
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 49%;
}

.testimonial-swiper,
.testimonial-title {
    width: 49%;
    padding-right: 40px;
}

.testimonial-swiper {
    padding-top: 34px;
}

.testimonial-dot > img {
    margin-top: 82px;
    margin-right: 26px;
}

.swiper {
    max-width: 504px;
    height: 245px;
  }

.swiper-slide {
    padding: 28px 68px 34px 34px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.swiper-slide > * {
    font-size: 16px;
    line-height: 32px;
    color: rgba(94, 98, 130, 1);
}

.swiper-button-next, .swiper-button-prev {
    transform: rotate(90deg);
    color: rgba(62, 46, 77, 1);
    width: 14px;
    height: 7px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px;
}

.swiper-cards .swiper-slide {
    overflow: visible;
}

/* .swiper-cards .swiper-slide ~ .swiper-cards .swiper-slide {
    overflow: hidden;
} */

.swiper-avatar {
    position: absolute;
    width: 68px;
    height: 68px;
    top: -34px;
    left: -34px;
    border-radius: 50%;
    align-items: center;
    z-index: 100;
}

.testimonial-text {
    margin-bottom: 34px;
    height: 96px;
    text-overflow: ellipsis;
}

.testimonial-name {
    font-weight: bold;
    line-height: 27px;
    color: rgba(20, 24, 62, 1);
    margin-bottom: 5px;
}

.swiper-button-next {
    top: 177px;
    right:-50px;
}

.swiper-button-prev {
    width: 1075px;
    top: 120px;
    /* top: 170px; */
}

/* Logos */
.logos {
    margin-top: 100px;
    margin-bottom: 100px;
}

.logos-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logos-item {
    max-width: 241px;
    height: 86px;
    padding-left: 39px;
    padding-right: 40px;
}

.logos-item__img {
    width: 162px;
    height: 162px;
}

.logos-item {
    background-image: url('/img/logos/1.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 241px;
    height: 86px;
    border: 1px solid black;
    border-radius: 10px;
    filter: grayscale(100%);
}

.logos-item:nth-child(2) {
    background-image: url('/img/logos/2.png');
}

.logos-item:nth-child(3) {
    background-image: url('/img/logos/3.png');
}

.logos-item:nth-child(4) {
    background-image: url('/img/logos/4.png');
}

.logos-item:nth-child(5) {
    background-image: url('/img/logos/5.png');
}

.logos-item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    filter: none;
}

/* Subscribe */
.subscribe-container {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.subscribe-form {
    min-height: 407px;
    background-color: rgba(223, 215, 249, 0.2);
    border-radius: 20px;
    border-top-left-radius: 129px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.subscribe-send {
    position: absolute;
    top: -35px;
    right: -35px;
}

.subscribe-plus {
    position: absolute;
    right: -99px;
    bottom: -70px;
}


.subscribe-line__left {
    position: absolute;
    left: 20px;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
}


.subscribe-line__right {
    position: absolute;
    opacity: 0.1;
    right: 0;
    top: 0;
}

.subscribe-input {
    width: 421px;
    height: 68px;
    padding: 25px 31px 25px 66px;
    border: none;
    border-radius: 10px;
    z-index: 15;
    position: relative;
    background: url('/img/mail.svg') no-repeat 31px center;
    background-color: rgba(255, 255, 255, 1);
}

.subscribe-title {
    max-width: 881px;
    text-align: center;
    color: rgba(94, 98, 130, 1);
    line-height: 54px;
    font-size: 33px;
    font-weight: 600;
}

.subscribe-btn {
    width: 180px;
    height: 68px;
    margin-left: 24px;
    border: none;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 700;
    background-color: rgba(255, 148, 109, 1);
}