
:root {
    --color-red:rgba(223, 105, 81, 1)
}

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 47px 40px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url('/img/top-right-dekor.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 778px 800px;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

a:visited {
    color: currentColor;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header-container {
    margin-bottom: 18px;
}

.header-container,
.header-nav__list {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    cursor: pointer;
}

.header-nav__list {
    margin-top: 0;
    margin-bottom: 0;
    width: 685px;
    cursor: pointer;
}

.header-nav__item > a {
    font-size: 17px;
    font-weight: 400;
}

.header-nav__btn {
    padding: 9px 22px;
    background: none;
    border: 1px solid rgba(33, 40, 50, 1);
    border-radius: 5px;
    cursor: pointer;
}

.header-nav__btn:active {
    transform: translatey(1px);
}

.header-nav__language {
    border: none;
    background: none;
    cursor: pointer;
}

/* Hero */
.hero-container {
    margin-top: 18px;
    margin-bottom: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('/img/hero/plane.svg');
    background-repeat: no-repeat;
    background-position: 680px 40px;
}

.hero-left,
.hero-right {
    max-width: 49%;
    min-height: 764px;
}

.hero-right {
    background-image: url('/img/hero/plane.svg');
    background-repeat: no-repeat;
    background-position: 490px 95px;
}

.hero-left {
    padding-top: 112px;
    padding-bottom: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title {
    text-transform: uppercase;
    font-style: 20px;
    font-weight: 700;
    color: rgba(223, 105, 81, 1);
}

.hero-main {
    font-size: 84px;
    font-weight: 700;
    color: rgba(24, 30, 75, 1);
    z-index: 2;
}

.hero-enjoy {
    position: relative;
    background-image: url('/img/hero/enjoy-decore.svg');
    background-repeat: no-repeat;
    background-position: 60px bottom;
}

.hero-description {
    padding-right: 150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(94, 98, 130, 1);
}

.hero-function__inner {
    max-width: 379px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-btn {
    width: 170px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    background: rgba(241, 165, 1, 1);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    cursor: pointer;
}

/* .hero-audio:active, */
.hero-btn:active {
    transform: translateY(1px);
}


.hero-audio {
    cursor: pointer;
    position: relative;
    margin-right: auto;
    margin-left: 44px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-red);
    box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
    text-wrap: nowrap;
}

/* .hero-audio:focus, */
.hero-audio:active {
    outline: 2px solid rgba(223, 76, 47, .7);
}

.hero-audio__inner {
    width: 15px;
    height: 15px;
    margin: auto;
    margin-top: 18px;
    margin-left: 19px;
    border-style: solid;
    border-width: 8px 0 8px 15px;
    border-color: var(--color-red) var(--color-red) var(--color-red) white;
    border-radius: 2px;
}

.hero-audio:focus > .hero-audio__inner {
    margin-left: 18px;
    border-width: 8px;
    border-color: white;
    /* border-radius: 2px; */
}

.hero-audio::before {
    content: 'Play Demo';
    color: black;
    position: absolute;
    right: -93px;
    top: 17px;
    font-size: 17px;
    font-weight: 400;
    color: rgba(104, 109, 119, 1);
}

.hero-audio:active::before {
    transform: none;
}

.hero-img {
    transform: translateX(-115px);
}

/* Services */
.services {
    margin-top: 97px;
    margin-bottom: 123px;
    background-image: url('/img/services/plus-plus.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 153px 166px;
}

.services-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(94, 98, 130, 1);
    text-align: center;
}

.services-main {
    margin-bottom: 66px;
    font-size: 50px;
    font-weight: 700;
    color: rgba(20, 24, 62, 1);
    text-align: center;
}
.services-list {
    padding-bottom: 33px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.services-item {
    max-width: 267px;
    padding: 191px 45px 45px 44px;
    border-radius: 36px;
    background-image: url('/img/services/1.svg');
    background-repeat: no-repeat;
    background-position: center 50px;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
}

.services-item:nth-child(2) {
    background-image: url('/img/services/2.svg');
    background-position: center 17px;
}

.services-item:nth-child(3) {
    background-image: url('/img/services/3.svg');
}

.services-item:nth-child(4) {
    background-image: url('/img/services/4.svg');
}

.services-item:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, 
                rgba(0, 0, 0, 0.07) 0px 2px 4px, 
                rgba(0, 0, 0, 0.07) 0px 4px 8px, 
                rgba(0, 0, 0, 0.07) 0px 8px 16px, 
                rgba(0, 0, 0, 0.07) 0px 16px 32px, 
                rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.services-item::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgba(223, 105, 81, 1);
    border-radius: 30px 0 10px 0;
    position: absolute;
    left:-35px;
    bottom: -33px;
    z-index: -1;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.services-item:hover::after {
    opacity: 1;
}

.services-item-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgba(30, 29, 76, 1);
}
.services-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    color:rgba(94, 98, 130, 1);
}

/* Destination */
.destination {
    margin-top: 123px;
    margin-bottom: 186px;
    /* margin-left: 174px;
    margin-right: 165px; */
}

/* .destination-container {
} */

.destination-list {
    display: flex;
    justify-content: space-between;
    padding-right: 62px;
}

.destination-item {
    width: 30%;
    min-height: 457px;
    padding-top: 327px;
    border-radius: 24px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: url('/img/destination/rome.PNG');
    background-size: cover;
    background-repeat: no-repeat;
}

.destination-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-10px);
    transition: all 0.4s ease-in;
}

.destination-item:nth-child(2) {
    background-image: url('/img/destination/london.png'); 
}

.destination-item:nth-child(3) {
    background-image: url('/img/destination/europ.png'); 
}

.destination-item__inner {
    width: 100%;
    height: 100%;
    padding: 27px 25px 42px 20px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
}

.destination-geo {
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination-geo > * {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: rgba(94, 98, 130, 1);
}

.destination-duration > * {
    font-size: 16px;
    font-weight: 700;
    color: rgba(94, 98, 130, 1);
    line-height: 1;
}
