:root {
    --main-font: "Poppins", sans-serif;
	--title-font: "Volkhov", serif;
    --nav-font: "GoogleSans", sans-serif;
    --color-red: rgba(223, 105, 81, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-btn_nav: rgba(33, 40, 50, 1);
    --color-btn_hero: rgba(241, 165, 1, 1);
    --color-title_main: rgba(24, 30, 75, 1);
    --color-play: rgba(104, 109, 119, 1);
    --color-title_card: rgba(8, 8, 9, 1);
    --color-form: rgba(223, 215, 249, 0.2);
    --color-form_btn:rgba(255, 148, 109, 1);
    --color-text_description: rgba(94, 98, 130, 1);
    --color-text_name: rgba(20, 24, 62, 1);
    --color-text_card: rgba(132, 130, 154, 1);
    --shadow-btn_hero: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    --shadow-btn_audio: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
    --shadow-card: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    --shadow-tooltip: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    --outline-btn_audio: rgba(223, 76, 47, .7);

    /* Burger menu */
    --time: 0.1s;
    --width: 40px;
    --height: 30px;
    --line-height: 4px;
    --spacing: 6px;
    --color: black;
    --radius: 4px;
}

html {
    position: relative;
}

body {
    max-width: 1470px;
    background-color: var(--color-white);
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.decor-shadow {
    width: 478px;
    height: 496px;
    background-image: url('./../images/decor-main-shadow.png');
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 0;
    left: 0;
}

.decor-top-right {
    width: 704px;
    height: 724px;
    background-image: url('./../images/decor-top-right.png');
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 0;
    right: 0;
    z-index: -1;
}

/* Header */
.header-container {
    margin-bottom: 18px;
    padding-top: 48px;
}

.header-container,
.header-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo__link {
    margin-right: 15px;
}

.header-logo {
    cursor: pointer;
}

.mobile-nav-btn {
    display: none;
}

.header-nav__list {
    margin-top: 0;
    margin-bottom: 0;
    width: 685px;
    cursor: pointer;
}

.header-nav__item{
    position: relative;
}

.header-nav__item > a {
    font-size: 17px;
    font-weight: 400;
    font-family: var(--nav-font);
    color: var(--color-btn_nav);
}

.marker::after {
    display: block;
    content: url('./../images/decor-main-title.svg');
    position: absolute;
    background-size: 30px;
    left: -60px;
    right: 0;
    bottom: -10px;
    opacity: 0;
    transform: scale(.3);
}

.marker:first-child:after{
    transform: scale(.35);
}

.marker:hover::after{
    opacity: 1;
    transition: opacity .2s linear;
}

.marker_last {
    margin-right: 200px;
}

.header-nav__btn {
    padding: 9px 22px;
    background: none;
    border: 1px solid var(--color-btn_nav);
    border-radius: 5px;
}

.header-nav__btn:active {
    transform: translateY(1px);
}

.header-nav__btn:hover {
    background-color: var(--color-form_btn);
    color: var(--color-white);
    transition: all .15s linear;
    border-color: var(--color-white);
} 

.header-nav__language {
    border: none;
    background: none;
}

/* Nav Icon */
.mobile-nav-btn {
    height: calc(var(--line-height) * 3 + var(--spacing) * 2);
    width: var(--width);
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.nav-icon {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color-btn_nav);
    border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: var(--width);
    height: var(--line-height);
    border-radius: var(--radius);
    background-color: var(--color-btn_nav);
    transition: transform var(--time) ease-in,
        top var(--time) linear var(--time);
}

.nav-icon::before {
    top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
    top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
    background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
    top: 0;
    transition: top var(--time) linear,
        transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
	transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
	transform: rotate(-45deg);
}

.mobile-nav-btn {
	z-index: 999;
}

.no-scroll {
    overflow-y: hidden;
}

/* Hero */
.hero-container {
    min-height: 764px;
    margin-top: 18px;
    margin-bottom: 97px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-size: 167px;
    background-position: 620px 15px;
}

.hero-left {
    padding-top: 112px;
}

.hero-right {
    position: relative;
}

.hero-right::before,
.hero-right::after {
    content: url('./../images/sprite.svg#plane');
    width: 167px;
    height: 95px;
    position: absolute;
    top: 50px;
    right: 0px;
    left: 0;
    z-index: -1;
}

.hero-right::after {
    width: 167px;
    height: 95px;
    top: 90px;
    right: 0;
    left: 75%;
}

.hero-title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-red);
}

.hero-main {
    margin-bottom: 30px;
    font-family: var(--title-font);
    font-size: 84px;
    color: var(--color-title_main);
    z-index: 2;
    letter-spacing: -3.36px;
    line-height: 89px;
}

.hero-enjoy {
    position: relative;
}

.hero-enjoy::after {
    position: absolute;
    content: url('./../images/decor-main-title.svg');
    left: -35px;
    bottom: 0;
    z-index: -1;
}

.hero-description {
    margin-bottom: 34px;
    padding-right: 150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--color-text_description);
}

.hero-function__inner {
    max-width: 379px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-btn {
    width: 170px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    background: var(--color-btn_hero);
    box-shadow: var(--shadow-btn_hero);
}

.hero-btn:active {
    transform: translateY(1px);
}

.hero-audio {
    cursor: pointer;
    position: relative;
    margin-right: auto;
    margin-left: 44px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-red);
    box-shadow: var(--shadow-btn_audio);
    text-wrap: nowrap;
    display: flex;
}

.hero-audio:active {
    outline: 2px solid var(--outline-btn_audio);
}

.hero-audio__inner {
    width: 15px;
    height: 15px;
    margin: auto;
    border-style: solid;
    border-width: 8px 0 8px 15px;
    border-color: var(--color-red) var(--color-red) var(--color-red) var(--color-white);
    border-radius: 2px;
}

.hero-audio:focus > .hero-audio__inner {
    margin-left: 18px;
    border-width: 8px;
    border-color: var(--color-white);
}

.hero-audio::before {
    content: 'Play Demo';
    color: var(--color-play);
    position: absolute;
    right: -113px;
    top: 17px;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-text_description);
}

.hero-audio:active::before {
    transform: none;
}

.hero-img {
    width: 765px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Services */
.services {
    background-image: url('./../images/decor-plus-plus.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 153px 166px;
    background: transparent;
}

.services-container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px 0;
    background: transparent;
}

.services-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-text_description);
    text-align: center;
}

.services-main {
    font-family: var(--title-font);
    margin-bottom: 66px;
    font-size: 50px;
    color: var(--color-text_name);
    text-align: center;
}
.services-list {
    padding-bottom: 33px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 35px;
    background: transparent;
    z-index: 100;
}

.services-item {
    max-width: 267px;
    padding: 120px 42px 45px 44px;
    margin-bottom: 35px;
    border-radius: 36px;
    background-image: url('./../images/sprite.svg#icon-services-1');
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 85px;
    position: relative;
    background-color: var(--color-white);
    letter-spacing: -0.6px;
}

.services-item:nth-child(2) {
    background-image: url('./../images/sprite.svg#icon-services-2');
    background-position: center -20px;
    background-size: 186px;
}

.services-item:nth-child(3) {
    background-image: url('./../images/sprite.svg#icon-services-3');
}

.services-item:nth-child(4) {
    background-image: url('./../images/sprite.svg#icon-services-4');
}

.services-item:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, 
                rgba(0, 0, 0, 0.07) 0px 2px 4px, 
                rgba(0, 0, 0, 0.07) 0px 4px 8px, 
                rgba(0, 0, 0, 0.07) 0px 8px 16px, 
                rgba(0, 0, 0, 0.07) 0px 16px 32px, 
                rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: box-shadow 0.2s ease;
}

.services-item::after {
    width: 100px;
    height: 100px;
    content: "";
    background-color: var(--color-red);
    border-radius: 30px 0 10px 0;
    position: absolute;
    left: -35px;
    bottom: -33px;
    opacity: 0;
    transition: opacity 0s ease;
}

.services-item:hover::after {
    opacity: 1;
    z-index: -1;
}

.services-item-title {
    margin-bottom: 15px;
    font-family: "Open Sans", var(--main-font);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-wrap: nowrap;
    text-align: center;
    color: rgba(30, 29, 76, 1);
}
.services-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    color:var(--color-text_description);
}

/* Destination */
.destination-container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.destination-list {
    margin-left: 91px;
    margin-right: 91px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 36px;
    padding-right: 62px;
    background-image: url('./../images/decor-line.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.destination-item {
    min-height: 457px;
    padding-top: 327px;
    border-radius: 24px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: url('./../images/rome.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.destination-item__tablet {
    display: none;
}

.destination-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-9px);
    transition: all 0.4s ease-in-out;
}

.destination-item:nth-child(2) {
    background-image: url('./../images/london.png'); 
}

.destination-item:nth-child(3) {
    background-image: url('./../images/europe.png'); 
}

.destination-item__inner {
    width: 100%;
    height: 100%;
    padding: 27px 25px 42px 20px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: var(--color-white);
}

.destination-geo {
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination-duration,
.destination-geo > * {
    font-size: 18px;
    font-weight: 400;
    line-height: 124.5%;
    color: var(--color-text_description);
}

.destination-duration > * {
    position: relative;
    margin-left: 34px;
    font-size: 16px;
}

.destination-duration > small::before {
    content: url('./../images/sprite.svg#navigation');
    position: absolute;
    width: 20px;
    height: 20px;
    left: -35px;
    top: 0;
    bottom: 0;
}

/* Book */
.book-container {
    margin-bottom: 100px;
    padding-top: 100px;
    padding-left: 91px;
    padding-right: 91px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('./../images/decor-blue-shadow.svg');
    background-repeat: no-repeat;
    background-position: 650px -40px;
}

.book-title__aline {
    text-align: left;
}

h3 + h2.book-title__aline {
    margin-bottom: 31px;
    margin-top: 15px;
    text-transform: capitalize;
    max-width: 511px;
}

.book-left,
.book-right {
    max-width: 50%;
    min-height: 492px;
    flex-basis: 50%;
}

.book-list {
    max-width: 327px;
    margin-left: 68px;
}

.book-item:not(:last-child) {
    margin-bottom: 48px;
}

.book-item {
    position: relative;
}

.book-item::before {
    content: url('./../images/sprite.svg#icon-book-1');
    position: absolute;
    width: 47px;
    height: 48px;
    top: 3px;
    bottom: 0;
    left: -68px;
}

.book-item:nth-child(2):before {
    content: url('./../images/sprite.svg#icon-book-2');
}

.book-item:nth-child(3):before {
    content: url('./../images/sprite.svg#icon-book-3');
}

.book-item__title {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 124.5%;
    color: var(--color-text_description);
}

.book-item__text {
    width: 100%;
    font-size: 16px;
    line-height: 124.5%;
    font-weight: 400;
    color: var(--color-text_description);
}

.book-right {
    padding-top: 59px;
    position: relative;
}

.book-card__big {
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
    padding: 20px 24px 31px 25px;
    border-radius: 26px;
    box-shadow: var(--shadow-card);
    background-color: var(--color-white);
}

.book-img {
    max-width: 321px;
    margin-bottom: 26px;
}

.book-card__title {
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: 400;
    line-height: 124.5%;
    letter-spacing: 0.27px;
    color: var(--color-title_card);
}

.book-card__time {
    margin-bottom: 21px;
}

.book-card__text {
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: -0.08px;
    line-height: 124.5%;
    color: var(--color-text_card);
}

.book-card__links {
    margin-bottom: 29px;
    display: flex;
}

.book-link {
    margin-right: 18px;
    cursor: pointer;
}

.book-link > img {
    border-radius: 50%;
}

.book-link:hover > img {
    outline: 2px solid rgba(104, 109, 119, 0.3);
}

.book-card__icon {
    margin-left: 31px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-card__icon::before {
    content: url('./../images/sprite.svg#hotel');
    position: absolute;
    width: 16px;
    height: 16px;
    left: -30px;
    top: 0;
    bottom: 0;
}

.svg-like-dims {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.book-btn__like {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 0;
    line-height: 1;
}

.book-tooltip {
    width: 263px;
    padding: 16px 16px 22px 81px;
    bottom: 20px;
    right: -40%;
    position: absolute;
    display: block;
    box-shadow: var(--shadow-tooltip);
    background-color: var(--color-white);
    border-radius: 18px;
    display: none;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.book-btn__like:focus + .book-tooltip,
.book-btn__like:hover + .book-tooltip {
    display: inline-block;
}

.book-tooltip:hover {
    display: inline-block;
}

.book-tooltip__img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 20px;
    top: 17px;
}

.book-tooltip__text {
    margin-bottom: 6px;
    color: var(--color-text_card);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.49px;
}

.book-tooltip__title {
    margin-bottom: 14px;
    color: var(--color-title_card);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.27px;
}

.book-tooltip__title:hover {
    color: rgba(138, 121, 223, 1);
    transition: color 0.3s ease;
}

.book-bar__text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.49px;
}

.book-value {
    color: rgba(138, 121, 223, 1);
}

/* Testimonial */
.testimonial-container {
    min-height: 356px;
    margin-top: 100px;
    margin-bottom: 86px;
    padding: 25px 91px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 49%;
}

.testimonial-swiper,
.testimonial-title {
    width: 49%;
    padding-right: 40px;
}

.testimonial-swiper {
    padding-top: 34px;
}

.testimonial-dot {
    margin-top: 82px;
}

.swiper {
    max-width: 504px;
    height: 245px;
}

.swiper-slide {
    padding: 28px 68px 34px 34px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow-card);
    cursor: pointer;
}

.swiper-slide > * {
    font-size: 16px;
    line-height: 32px;
    color: var(--color-text_description);
}

.swiper-slide.swiper-slide-next > picture {
    display: none;
}

.swiper-button-next, .swiper-button-prev {
    transform: rotate(90deg);
    color: rgba(62, 46, 77, 1);
    width: 14px;
    height: 7px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px;
}

.swiper-cards .swiper-slide {
    overflow: visible;
}

.swiper-avatar {
    position: absolute;
    width: 68px;
    height: 68px;
    top: -34px;
    left: -34px;
    border-radius: 50%;
    align-items: center;
    z-index: 100;
}

.testimonial-text {
    margin-bottom: 34px;
    max-height: 96px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.testimonial-name {
    font-weight: 600;
    line-height: 27px;
    color: var(--color-text_name);
    margin-bottom: 5px;
    line-height: normal;
    text-wrap: nowrap;
}

.testimonial-geo {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    text-wrap: nowrap;
}

.swiper-button-next {
    top: 177px;
    right:-50px;
}

.swiper-button-prev {
    width: 1075px;
    top: 120px;
}

/* Logos */
.logos-container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logos-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 5px;
}

.logos-item {
    display: inline-block;
    max-width: 241px;
    height: 86px;
    text-align: center;
    filter: grayscale(100%);
    border-radius: 10px;
}

.logos-item__img {
    width: 162px;
    height: 162px;
    object-fit: contain;
    transform: translateY(-40px);
}

.logos-item:hover {
    box-shadow: var(--shadow-card);
    filter: grayscale(0);
}

/* Subscribe */
.subscribe-container {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    padding: 0;
}

.subscribe-form {
    min-height: 407px;
    padding: 20px;
    background-color: rgba(223, 215, 249, 0.25);
    border-radius: 20px;
    border-top-left-radius: 129px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.subscribe-send {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    right: -35px;
}

.subscribe-plus {
    width: 153px;
    height: 166px;
    position: absolute;
    right: -99px;
    bottom: -70px;
}

.subscribe-line__left {
    width: 425px;
    height: 281px;
    position: absolute;
    left: 20px;
    bottom: 0;
    opacity: 0.1;
}

.subscribe-line__right {
    width: 264px;
    height: 351px;
    position: absolute;
    opacity: 0.1;
    right: 0;
    top: 0;
}

.subscribe-input {
    width: 421px;
    height: 68px;
    padding: 25px 31px 25px 66px;
    border: none;
    border-radius: 10px;
    z-index: 15;
    position: relative;
    background: url('./../images/sprite.svg#mail') no-repeat;
    background-position: 31px;
    background-size: 21px 18px;
    background-color: var(--color-white);
}

.subscribe-title {
    max-width: 881px;
    text-align: center;
    color: var(--color-text_description);
    line-height: 54px;
    font-size: 33px;
    font-weight: 600;
}

.subscribe-btn {
    width: 180px;
    height: 68px;
    margin-left: 24px;
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    font-size: 17px;
    font-weight: 700;
    background-color: var(--color-form_btn);
}

/* Footer */
.footer-container {
    margin-top: 100px;
    padding-bottom: 79px;
    padding: 30px;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    width: 152px;
    height: 66px;
}

.footer-item {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 153px;
}

.footer-item:first-child {
    max-width: 207px;
    min-height: 133px;
    padding-top: 0;
}

.footer-text {
    margin-top: 22px;
    display: inline-block;
    font-size: 13px;
    color: var(--color-text_description);
    font-weight: 400;
    line-height: 124.5%;
}

.footer-insta {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-social__title {
    margin-top: 26px;
    padding-left: 2px;
    font-size: 20px;
    font-weight: 400;
    line-height: 124.5%;
    color: var( --color-text_description);
}

.footer-title {
    margin-bottom: 34px;
    font-size: 21px;
    color: var(--color-title_card);
    font-weight: 700;
    line-height: 124.5%;
}

.footer-title__item {
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 124.5%;
    color: var(--color-text_description);
}

.footer-title__item:hover {
    color: var(--color-red);
    transition: color .2s linear;
}

.footer-social__icon {
    display: inline-block;
}

.svg-instagram-dims {
    transform: translateY(3px);
}


.footer-app {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-google {
    margin-right: 7px;
    display: inline-block;
}

.footer-apple {
    display: inline-block;
}

.footer-copyright {
    margin-top: 60px;
    text-align: center;
    color: var(--color-text_description);
    font-weight: 400;
    font-size: 14px;
    line-height: 124.5%;
}

@media (max-width: 1106px) {
    
    /* Category 1025px */
    .services-container {
        margin-bottom: 50px;
        padding-bottom: 0;
    }

    .services-list {
        padding-bottom: 0;
    }

    .services-item:last-child {
        justify-self: center;
        grid-column: 2 / span 1;
    }

    .destination-container {
        margin-top: 75px;
    }
}

@media (max-width: 1025px) {
    /* Hero 1025px */
    .hero-main {
        font-size: 64px;
        line-height: 74px;
    }

    .hero-enjoy::after {
        bottom: -8px;
        left: -50px;
    }

    .hero-right::before {
        left: -50px;
    }
    .hero-right::after {
        left: 70%;
    }

    /* Destination 1025px */
    .destination-list {
        margin: 0;
    }

    .testimonial-swiper {
        padding: 0;
    }

    .testimonial-text {
        overflow: scroll;
        text-overflow: ellipsis;
    }

    .logos-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 928px) {
    .hero-left {
        padding-top: 50px;
    }

    .hero-right {
        width: 100%
    }

    .hero-img {
        width: 140%;
    }
}

@media (max-width: 874px) {
    .destination-item__tablet {
        display: inline-block;
    } 
}

@media (max-width: 769px) {
    .mobile-nav-btn {
        display: flex;
    }

    .mobile-nav {
        padding-top: 40px;
        padding-bottom: 40px;
        position: fixed;
        top: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        z-index: 99;
        left: 0;
    
        display: block;
        text-align: left;
    
        background-color: #FFF1DA;
        transition: all 0.2s ease-in;
    }
    
    .mobile-nav--open {
        top: 0;
    }
    
    .mobile-nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        font-size: 28px;
    }

    .hero-description {
        padding-right: 0;
    }

    .hero-audio {
        margin-left: 24px;
    }

    .hero-right::before,
    .hero-right::after {
        top: 10px;
        right: 0;
        left: -30px;
    }

    .hero-right::after {
        top: 160px;
        right: 30px;
        left: 50%;
    }

    .hero-main {
        font-size: 54px;
        line-height: 54px;
    }

    .services-list {
        justify-items: center;
    }

    .destination-container {
        margin-bottom: 50px;
    }
    
    .book-container {
        padding: 50px 40px 10px;
        margin-bottom: 50px;
        display: block;
        width: 100%;
    }

    .book-left, 
    .book-right {
        max-width: 100vw;
        text-align: center;
    }

    .book-title__aline {
        text-align: center;
    }
    .book-left > * {
        width: 100%;
    }

    h3 + h2.book-title__aline {
        max-width: 100%;
    }

    .book-list {
        margin-left: auto;
        margin-right: auto;
    }

    .subscribe-input {
        width: 100%;
    }

    .subscribe-btn {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
        padding: 25px;
    }

    .testimonial-container {
        display: block;
    }

    .testimonial-swiper, 
    .testimonial-title {
        max-width: 100%;
    }

    .testimonial-swiper,
    .testimonial-title {
        padding-right: 0;
        width: 100vw;
    }

    .testimonial-title {
        margin-bottom: 100px;
    }

    .testimonial-dot {
        display: none;
    }
}

@media (max-width: 426px) {
    .mobile-nav__list {
        align-items: flex-start;
        margin-left: 30%;
    }

    .hero-container {
        display: block;
        margin-bottom: 50px;
    }

    .hero-left {
        text-align: center;
        width: 100%;
        padding: 15px;
    }

    .hero-enjoy::after {
        bottom: -8px;
        left: -160px;
    }

    .hero-right {
        margin-top: 20px;
    }

    .hero-img {
        max-width: 425px;
        position: static;
    }

    .services-container {
        margin-top: 50px;
    }

    .services-main {
        margin-bottom: 20px;
        font-size: 35px;
    }

    .services-list {
        display: block;
        padding-right: 0;
    }

    .services-item {
        margin-left: auto;
        margin-right: auto;
    }

    .destination-container {
        margin-top: 50px;
    }

    .destination-list {
        padding-right: 0;
    }

    .destination-item:first-child {
        display: none;
    }

    .destination-item {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .book-container {
        padding: 20px 15px 10px 15px;
    }

    .book-list {
        margin-left: 70px;
        margin-right: 70px;
    }

    .testimonial-container {
        margin-top: 50px;
    }

    .testimonial-container {
        padding: 15px 15px 15px 50px;
    }

    .swiper-slide {
        padding: 20px;
    }

    .testimonial-text {
        margin-bottom: 50px;
    }

    .subscribe-form {
        padding: 30px;
        border-top-left-radius: 38px;
    }

    .subscribe-title {
        font-size: 23px;
        line-height: 30px;
    }

    .subscribe-input {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-container {
        margin-top: 20px;
    }

    .footer-copyright {
        margin-top: 30px;
    }
}

@media (max-width: 376px) {
    .hero-left {
        padding: 0;
    }

    .hero-main {
        margin-bottom: 20px;
    }

    .hero-description {
        text-wrap: balance;
    }

    .hero-function__inner {
        display: block;
    }

    .hero-btn {
        width: 100%;
        margin-bottom: 15px;
    }

    .hero-audio {
        margin-right: auto;
    }

    .book-list {
        margin: 0;
    }

    .book-item {
        padding: 20px;
        margin-bottom: 0 !important;
    }

    .book-item::before {
        display: inline-block;
        position: relative;
        width: 70px;
        height: auto;
        top: -15px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .book-tooltip {
        display: none;
    }

    .book-container {
        margin-bottom: 0;
    }

    .testimonial-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 321px) {
    .mobile-nav__list {
        margin-left: 25px;
    }
}