/* All SVG styles */
.svg-apple-dims { width: 100px; }
.svg-facebook-dims { width: 61px; height: 61px; }
.svg-google-dims { width: 107px;}
.svg-hotel-dims { width: 16px; height: 16px; }
.svg-icon-book-1-dims { width: 47px; height: 48px; }
.svg-icon-book-2-dims { width: 47px; height: 48px; }
.svg-icon-book-3-dims { width: 47px; height: 48px; }
.svg-icon-services-1-dims { width: 92px; height: 78px; }
.svg-icon-services-2-dims { width: 168px; height: 154px; }
.svg-icon-services-3-dims { width: 67px; height: 75px; }
.svg-icon-services-4-dims { width: 77px; height: 66px; }
.svg-instagram-dims { width: 65px; height: 65px; }
.svg-leaf-dims { width: 36px; height: 36px; }
.svg-like-dims { width: 20px; height: 20px; }
.svg-mail-dims { width: 21px; height: 18px; }
.svg-map-dims { width: 36px; height: 36px; }
.svg-navigation-dims { width: 18px; height: 18px; }
.svg-send-dims { width: 36px; height: 36px; }
.svg-soc-dims { width: 65px; height: 65px; }
.svg-subscribe-dims { width: 70px; height: 70px; }
.svg-twitter-dims { width: 61px; height: 61px; }