
/* All SVG styles */

.svg-1-dims { width: 92px; height: 78px; }
 .svg-2-dims { width: 168px; height: 154px; }
 .svg-3-dims { width: 67px; height: 75px; }
 .svg-4-dims { width: 77px; height: 66px; }
 .svg-Jadoo-footer-dims { width: 149px; height: 34px; }
 .svg-LEAF-dims { width: 36px; height: 36px; }
 .svg-Navigation-dims { width: 18px; height: 18px; }
 .svg-apple-dims { width: 100px; height: 35px; }
 .svg-blue-shadow-dims { width: 654px; height: 667px; }
 .svg-dot-dims { width: 12px; height: 12px; }
 .svg-dot-fill-dims { width: 12px; height: 12px; }
 .svg-enjoy-decore-dims { width: 385px; height: 12px; }
 .svg-facebook-dims { width: 61px; height: 61px; }
 .svg-google-dims { width: 107px; height: 35px; }
 .svg-hotel-dims { width: 16px; height: 16px; }
 .svg-insta-dims { width: 65px; height: 65px; }
 .svg-jadoo-dims { width: 116px; height: 35px; }
 .svg-like-dims { width: 20px; height: 20px; }
 .svg-mail-dims { width: 21px; height: 18px; }
 .svg-map-dims { width: 36px; height: 36px; }
 .svg-plane-dims { width: 167px; height: 154px; }
 .svg-plus-plus-dims { width: 153px; height: 166px; }
 .svg-send-dims { width: 36px; height: 36px; }
 .svg-soc-dims { width: 65px; height: 65px; }
 .svg-subscribe-dims { width: 70px; height: 70px; }
 .svg-subscribe-line-left-dims { width: 374px; height: 276px; }
 .svg-subscribe-line-right-dims { width: 203px; height: 274px; }
 .svg-subscribe-plus-plus-dims { width: 153px; height: 166px; }
 .svg-twitter-dims { width: 61px; height: 61px; }